<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/home"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="/live-camera"><i class="fa fa-camera"></i> Live Camera</a>
        </li>
        <li>
            <a href="/from-file"><i class="fa fa-fw fa-file"></i> From File</a>
        </li>
        <!-- <li>
            <a href="/blank-page"><i class="fa fa-fw fa-file"></i> About</a>
        </li> -->
    </ul>
</div>