html, body {
  margin: 0;
  height: 100%;
}

body {
    padding-top: 50px;
}

.full-size{
  height: 100%;
}

.title-size{
  font-size: 15px;
}

.margin{
  margin-top: 5px!important;
  margin-bottom: 10px!important;
}