html, body {
  margin: 0;
  height: 100%;
}

body {
    padding-top: 50px;
    background-color: white;
}

.full-size{
  height: 100%;
}

.title-size{
  font-size: 15px;
}

.margin{
  margin-top: 5px!important;
  margin-bottom: 10px!important;
}

.pannel-bottom{
  margin-bottom: 10px !important;
}

#upload-div{
  border: 3px dashed #cccccc;
  height: 35px;
  position: relative;
  text-align: center;
}

.upload-div.clickable {
  cursor: pointer;
}

.logo-card{
  width: 20px;
  display: block;
  margin: auto;
  margin-top: 5px;
}

.header-setting{
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.result-card{
  min-height: 275px;
  position: relative;
  text-align: center;
}

.result-panel{
  margin-bottom: 5px!important;
}

.placeholder-img{
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 80px;
}

.vid-result{
  height: 350;
  display: block;
  margin: auto;
}

.img-result{
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-margin{
  margin-bottom: 10px;
  margin-top: 5px;
}