{% extends "layouts/base.html" %}
<!-- Block title untuk penamaan judul halaman -->
{% block title %} Home {% endblock %}
<!-- Block content untuk konten body halaman -->
{% block content %}
<div id="page-wrapper" class="full-size">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="panel panel-default margin">
                    <form id="form" method=post enctype=multipart/form-data>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-6 recent-div">
                            <div class="header-setting">
                                <b style="font-size:medium;">Detect From Image</b>
                            </div>
                            <p style="margin-top: -5px; margin-bottom: 0px;">Select From Computer</p>
                            <div id="upload-div" class="upload-div clickable">
                                <img src="{{ url_for('.static', filename = 'images/upload.png') }}" 
                                        class="logo-card">
                            </div>
                            <input id="file" type=file name="file" style='display:none;'>
                            <p style="margin-top: 5px; margin-bottom: 0px;">Select From URL</p>
                            <div>
                                <input type=url class="form-control" id="url" name="url_link" placeholder="http://">
                            </div>
                        </div>
                        <div class="col-lg-6 recent-div">
                            <div class="header-setting">
                                <b style="font-size:medium;">Detect From Video</b>
                            </div>
                        </div>
                      </div>
                      <button type="submit" name="form-submit" class="btn  btn-default pull-right">Upload</button>
                    </div>
                    </form>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body result-panel">
                        {% if out_path %}
                            {% if filetype == 'image' %}
                            <img src="{{ url_for('.static', filename = 'detect_result/'+out_path) }}" 
                                class="img-result">
                            {% else %}
                            <video width="320" height="240" controls>
                                <source src="{{ url_for('.static', filename = 'detect_result/'+out_path) }}" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                            {% endif %}
                        {% else %}
                        <img src="{{ url_for('.static', filename = 'images/tank.png') }}" 
                            class="placeholder-img">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}