{% extends "layouts/base.html" %}
<!-- Block title untuk penamaan judul halaman -->
{% block title %} {{title}} {% endblock %}
<!-- Block content untuk konten body halaman -->
{% block content %}
<div id="page-wrapper" class="full-size">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                {% if error_msg %}
                <div class="alert alert-danger alert-dismissible alert-margin" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{error_msg}}
                </div>
                {% endif %}
                <form id="form" method=post enctype=multipart/form-data>                    
                    <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default margin">
                            <div class="panel-body">
                                <div class="header-setting">
                                    <b style="font-size:medium;">Detect From Image / Video</b>
                                </div>
                                <p style="margin-top: -5px; margin-bottom: 0px;">Select From Computer</p>
                                <div id="upload-div" class="upload-div clickable">
                                    <img src="{{ url_for('.static', filename = 'images/upload.png') }}" 
                                            class="logo-card">
                                </div>
                                <input id="file" type=file name="file" style='display:none;'>
                                <p style="margin-top: 5px; margin-bottom: 0px;">Select From URL</p>
                                <div>
                                    <input type=url class="form-control" id="url" name="url_link" placeholder="http://">
                                </div>
                                <button type="submit" name="url-button" class="btn  btn-default pull-right"
                                    style="margin-top: 10px;">Use URL</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default margin">
                            <div class="panel-body">
                                <div class="header-setting">
                                    <b style="font-size:medium;">Detect From Camera / CCTV</b>
                                </div>
                                <p style="margin-top: -5px; margin-bottom: 0px;">Select Camera</p>
                                <select class="form-control" name="cam_name">
                                    <option value="0" selected>Web Camera</option>
                                    <option value="1">CCTV Proliman 1 Sukoharjo</option>
                                    <option value="2">CCTV Utara Pom Bensin Bulakrejo</option>
                                </select>
                                <p style="margin-top: 5px; margin-bottom: 0px;">Select Mode</p>
                                <div style="padding: 7px;">
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" checked value="">Military Detection
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" value="">Object Detection
                                    </label>
                                </div>
                                <button type="submit" name="cam-button" class="btn  btn-default pull-right"
                                    style="margin-top: 10px;">Use Camera</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
                <div class="panel panel-default result-panel">
                    <div class="panel-body result-card">
                        {% if out_path %}
                            {% if filetype == 'image' %}
                            <img src="{{ url_for('.static', filename = 'detect_result/'+out_path) }}" 
                                class="img-result">
                            {% else %}
                            <img id="bg" style="height: 250px;" src="{{ url_for('video_feed', out_path=out_path) }}">
                            {% endif %}
                        {% else %}
                        <img src="{{ url_for('.static', filename = 'images/no_image.png') }}" 
                            class="placeholder-img">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}