{% extends "layouts/base.html" %}
<!-- Block title untuk penamaan judul halaman -->
{% block title %} Home {% endblock %}
<!-- Block content untuk konten body halaman -->
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- Pengecekan session -->
                <b>Home page</b>
                <p style="font-weight: bold;">Welcome to Re-ID Monitoring<p>
                <h1>Digital Image Processing</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}