{% extends "layouts/base.html" %}
<!-- Block title untuk penamaan judul halaman -->
{% block title %} Home {% endblock %}
<!-- Block content untuk konten body halaman -->
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Person Re-Identification from Live Camera</h4>
                <img id="bg" class="center" src="{{ url_for('video_feed_live') }}">
                <br><br>
                <form method="POST" action="/stop">
                    <button type="submit" name="stop_video" value="stop_video"> Stop Video </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}